.burger {
    position: relative;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    display: none;
  }
  .burger__item {
    width: 30px;
    height: 4px;
    background-color: #000000;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
  }
  .burger__item:before,
  .burger__item:after {
    content: "";
    position: absolute;
    width: 30px;
    height: 4px;
    background: #000000;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
  }
  .burger__item:before {
    transform: translateY(-8px);
  }
  .burger__item:after {
    transform: translateY(8px);
  }
  
  .burger.open .header__burger-item {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
  }
  .burger.open .burger__item:before {
    transform: rotate(45deg) translate(35px, -35px);
  }
  .burger.open .burger__item:after {
    transform: rotate(-45deg) translate(35px, 35px);
  }
  