html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=__container] {
  max-width: 1390px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}

.transition-1 {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999999;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  background-color: #ffffff;
}

.transition-1.is-active {
  pointer-events: all;
  opacity: 1;
}

a {
  color: inherit;
  text-decoration: none;
}
a:visited, a:hover {
  text-decoration: none;
}

[data-opavcity-move] {
  opacity: 0;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: all 1.2s cubic-bezier(0.17, 0.16, 0.09, 0.93);
  transition: all 1.2s cubic-bezier(0.17, 0.16, 0.09, 0.93);
}
[data-opavcity-move].animate {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

[data-opacity] {
  opacity: 0;
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}
[data-opacity].animate {
  opacity: 1;
}

.burger {
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: none;
}

.burger__item {
  width: 30px;
  height: 4px;
  background-color: #000000;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
}

.burger__item:before,
.burger__item:after {
  content: "";
  position: absolute;
  width: 30px;
  height: 4px;
  background: #000000;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.burger__item:before {
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
}

.burger__item:after {
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
}

.burger.open .header__burger-item {
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.burger.open .burger__item:before {
  -webkit-transform: rotate(45deg) translate(35px, -35px);
          transform: rotate(45deg) translate(35px, -35px);
}

.burger.open .burger__item:after {
  -webkit-transform: rotate(-45deg) translate(35px, 35px);
          transform: rotate(-45deg) translate(35px, 35px);
}

body.page_ header,
body.page_ footer {
  display: none;
}
body.page_ main {
  height: 100vh;
  width: 100vw;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body.page_ #errorText {
  font-size: 22px;
  margin: 14px 0;
}
body.page_ #errorLink {
  font-size: 20px;
  padding: 12px;
  border: 1px solid;
  color: #000;
  background-color: transparent;
  text-decoration: none;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
body.page_ #errorLink:hover, body.page_ #errorLink:active {
  color: #fff;
  background: #000;
}
body.page_ #g6219 {
  -webkit-transform-origin: 85px 4px;
          transform-origin: 85px 4px;
  -webkit-animation: an1 12s 0.5s infinite ease-out;
          animation: an1 12s 0.5s infinite ease-out;
}
@-webkit-keyframes an1 {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  5% {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
  15% {
    -webkit-transform: rotate(-2.5deg);
            transform: rotate(-2.5deg);
  }
  25% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  35% {
    -webkit-transform: rotate(-1.5deg);
            transform: rotate(-1.5deg);
  }
  45% {
    -webkit-transform: rotate(1deg);
            transform: rotate(1deg);
  }
  55% {
    -webkit-transform: rotate(-1.5deg);
            transform: rotate(-1.5deg);
  }
  65% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  75% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  85% {
    -webkit-transform: rotate(2.5deg);
            transform: rotate(2.5deg);
  }
  95% {
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}
@keyframes an1 {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  5% {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
  15% {
    -webkit-transform: rotate(-2.5deg);
            transform: rotate(-2.5deg);
  }
  25% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  35% {
    -webkit-transform: rotate(-1.5deg);
            transform: rotate(-1.5deg);
  }
  45% {
    -webkit-transform: rotate(1deg);
            transform: rotate(1deg);
  }
  55% {
    -webkit-transform: rotate(-1.5deg);
            transform: rotate(-1.5deg);
  }
  65% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  75% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  85% {
    -webkit-transform: rotate(2.5deg);
            transform: rotate(2.5deg);
  }
  95% {
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

.svg {
  outline: 1px solid red;
}
.svg .st0:hover {
  fill: red !important;
  opacity: 0.9;
  cursor: pointer;
}
