#map {
  .container {
    display: flex;
    justify-content: center;
  }
  .map {
    width: 300px;
    #svg2 {

        .st0 {
          fill: $primary !important;
          &:hover {
            fill: red !important;
            opacity: 0.9;
            cursor: pointer;
          }
        }
      }
      
  }
  .list {
    margin-left: 40px;
    width: 300px;
    .item {
      padding: 4px 5px;
      font-size: 13px;
      display: block;
      transition: all 0.5s;
      &:hover {
        background-color: $secondary;
        color: white;
      }
    }
  }
}
