#map {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    @include lg-down(){
      flex-direction: column;
    }
  }

  .map {
    width: 30%;
    @include lg-down(){
      display:none;
    }
    #svg2 {
      width:100%;
      .st0 {
        fill: $primary !important;
        transition: all 0.2s;
        &:hover {
          fill: red !important;
          transition: all 0.2s;
          opacity: 0.9;
          cursor: pointer;
        }
      }
    }

    .region-I {
      #region-I {
        transition: all 0.2s;
        fill: red !important;
      }
    }

    .region-II {
        #region-II {
            transition: all 0.2s;
          fill: red !important;
        }
      }
      .region-III {
        #region-III {
            transition: all 0.2s;
          fill: red !important;
        }
      }
      .region-IV {
        #region-IV {
            transition: all 0.2s;
          fill: red !important;
        }
      }

      .minaropa {
        #minaropa {
            transition: all 0.2s;
          fill: red !important;
        }
      }
      .region-V {
        #region-V {
            transition: all 0.2s;
          fill: red !important;
        }
      }

      .region-VI {
        #region-VI {
            transition: all 0.2s;
          fill: red !important;
        }
      }
      .region-VII {
        #region-VII {
            transition: all 0.2s;
          fill: red !important;
        }
      }

      .region-VIII {
        #region-VIII {
            transition: all 0.2s;
          fill: red !important;
        }
      }

      .region-IX {
        #region-IX {
            transition: all 0.2s;
          fill: red !important;
        }
      }

      .region-X {
        #region-X {
            transition: all 0.2s;
          fill: red !important;
        }
      }
      .region-XI {
        #region-XI {
            transition: all 0.2s;
          fill: red !important;
        }
      }

      .region-XII {
        #region-XII {
            transition: all 0.2s;
          fill: red !important;
        }
      }

      .region-XIII {
        #region-XIII {
            transition: all 0.2s;
          fill: red !important;
        }
      }

      .NCR {
        #NCR {
            transition: all 0.2s;
          fill: red !important;
        }
      }
      .CAR {
        #CAR {
            transition: all 0.2s;
          fill: red !important;
        }
      }
      .BARM {
        #BARM {
            transition: all 0.2s;
          fill: red !important;
        }
      }
 

  }
  .list {
    width: 30%;
    margin-left: 40px;
    @include lg-down(){
      width:100%;
      margin-left: 0;
      display:flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    .item {
      padding: 6px 10px;
      font-size: 15px;
      display: block;
      transition: all 0.2s;
      @include lg-down(){
        width:47%;
      }
      @include sm-down(){
        width:100%;
        text-align: center;
      }
      &:hover {
        background-color: $secondary;
        color: white;
      }
    }
  }
}
