.single-box {
    padding: 5rem;
    color: $gray;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;

    &:nth-of-type(odd) {
        display: flex;
        flex-direction: row-reverse;
    }

    &__element {
        flex-basis: 90%;

        @include lg-up() {
            flex-basis: 45%;
        }
    }

    &__title {
        margin: 0;

        &--small {
            text-transform: uppercase;
            font-size: 1.5rem;
            letter-spacing: 1px;
        }

        &--big {
            font-size: 3rem;
            color: $primary;
            position: relative;
            padding-bottom: 1rem;
        }
    }

    &__text {
        font-size: 1.5rem;
    }

    &__image {
        width: 100%;
    }
}
